@import url(fonts.css);
/*
V 1.0
by Mykola Krusser
 */
/*--------------------
 Common settings
----------------------*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}
a {
    text-decoration: none;
}
p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
mark{
    background-color: #3b434c;
    color: #FFFFFF;
    padding:0 4px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
section {
    position: relative;
    display: block;
    box-sizing: border-box;
}
.content-wr {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
/*--------------------------------------------
  PreLoader
----------------------------------------------*/
#preLoader {
    background: whitesmoke;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}
/*
 Home
 */
#home {
    background-size:cover;
    background: #222 url(../img/bg.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
}
.home-overlay {
    position: absolute;
    background: rgba(44, 62, 80, 0.3) url(../img/pattern.png) repeat;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}
#home .content-wr {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    min-height: 100vh;
}
.intro {
    margin-top: 5em;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: #FFFFFF;
}
.intro-text {
    font-family: Raleway-Light, serif;
    font-size: 24px;
    margin: 20px 35px ;
}
.intro-h1 {
    font-family: Raleway-Bold, serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 20px 0;
}
.scroll-down {
    border: 2px solid #fff;
    border-radius: 10%;
    height: 50px;
    width: 50px;
    margin-bottom: 45%;
}
.scroll-down span{
    position: relative;
    color: #fff;
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@-webkit-keyframes drop {
    0% { top:0; opacity: 0;}
    15% { top:5px; opacity: 1;}
    30% { top:10px; opacity: 1;}
    60% { top:15px; opacity: 1;}
    100% { top:20px; opacity: 0;}
}
@keyframes drop {
    0% { top:0; opacity: 0;}
    15% { top:5px; opacity: 1;}
    30% { top:10px; opacity: 1;}
    60% { top:15px; opacity: 1;}
    100% { top:20px; opacity: 0;}
}
/*
Navigation
 */
#nav {
    min-height: 50px;
    background-color: #FFFFFF;
}
#nav .content-wr {
    flex-direction: row;
    justify-content: space-between;
}
#nav .content-wr .buttons a{
    margin: 20px 6px;
    color: black;
    font-family: Raleway-Light, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.5s ease;
}

#nav .content-wr .buttons a:hover,
#nav .content-wr .buttons a:focus{
    color: #e7746f;
    transition: color 0.5s ease;
}
.buttons {
    justify-content: space-around;
}
.name {
    margin: 15px 20px;
    color: black;
    font-family: Patua_One, serif;
    font-size: 22px;
    text-transform: uppercase;
}
.sticky {
    border-bottom: 1px gray solid;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 7777;
}
.sticky + #services{
    padding-top: 50px;
}
@media screen and (max-width: 800px) {
    #nav{
        min-height: 0;
    }
    #nav .content-wr .buttons a{
        margin: 11px 3px;
        font-size: 12px;
    }
    .name{
        display: none;
    }
}
@media screen and (max-width: 390px) {
    #nav .content-wr .buttons a{
        margin: 5px 5px;
        font-size: 11px;
    }

}
/*
Technologies I use
 */
#services {
    min-height: 50vh;
    background: #e2e2e2;
    box-sizing: border-box;
}
#services .content-wr{
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.services-title{
    margin-top:  120px;
    font-family: Raleway-Light, serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
}
.services-line {
    background: rgba(135, 135, 135, 0.5);
    width: 100px;
    height: 1px;
    margin: 30px auto;
}
.services-subtitle{ /*used in same text block all over page*/
    font-family: Raleway-Light, serif;
    font-size: 18px;
    width: 45%;
    line-height: 30px;
    margin-bottom: 60px;
}
@media screen and (max-width: 600px) {
    .services-subtitle {
        width: 75%;
    }
}
/*
Services items, Technologies I use - blocks
 */
#servicesItem {
    background: #e2e2e2;
    min-height: 50vh;
    box-sizing: border-box;
    font-family: Raleway-Bold, sans-serif;
    font-size: 18px;
}
#servicesItem>.content-wr>.flex {
    margin: 0 -15px;
}
.serviceBlock {
    margin: 15px ;
    box-sizing: border-box;
    background: #FFFFFF;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid rgb(226,226,226);
    box-shadow: inset 0 0 25px 0 rgba(226,226,226,0.8);
    border-radius: 10%;
}
.col{
    width: calc(25% - 30px);
}
@media screen and (max-width: 1024px) {
    .col {
        width: calc(50% - 30px);
    }
}
@media screen and (max-width: 600px) {
    .col {
        width: calc(100% - 30px);
    }
}
.serviceIcon {
    margin-top: 15px;
    text-align: start;
    align-items: center;
}
.serviceTitle{
    margin: 20px;
}
.serviceText{
    margin: 20px;
    font-family: Raleway-Light,sans-serif;
    font-size: 16px;
}
/*
MyWorks
 */
#myWorks {
    min-height: 50vh;
    background: white;
}
#myWorks .content-wr{
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
#myWorksItem {
    background: white;
    min-height: 50vh;
    margin-bottom: 50px;
}
#myWorksItem>.content-wr>.flex {
    margin: 0 -15px;
}

.myWorksBlock {
    background: #353f46;
    height: 60vh;
    margin: 10px;
    background: gray;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    filter: grayscale(80%);
    outline: 1px solid white;
    outline-offset: 0;
    font-family: Raleway-Light, sans-serif;
    font-size: 18px;
    box-shadow: inset 0 0 25px 0 rgba(255,255,255,0.8);
    -webkit-transition: outline-offset, filter, outline, 1s ease;
    transition: outline-offset, filter, outline, 1s ease;
}
.myWorksBlock:hover {
    outline: 1px solid white;
    outline-offset: -18px;
    filter: grayscale(0%);
    -webkit-transition: outline-offset, filter, outline, 1s ease;
    transition: outline-offset, filter, outline, 1s ease;
}
.btn {
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-family:Patua_One, sans-serif;
    font-size: 16px;
}
.btn a{
    background-color: #3b434c;
    border: 1px solid #FFFFFF;
    padding: 5px;
    margin: 0 5px;
    color: #FFFFFF;
    transition: all 0.5s ease;
}
.btn a:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: all 0.5s ease;
}
.col2{
    width: calc(50% - 20px);
}
@media screen and (max-width: 800px) {
    .col2 {
        width: calc(100% - 20px);
    }
}
/* link for my works backgrounds*/
.myWorkPicBG0{
    background: url(../img/item-1.jpg) no-repeat center;
    -moz-background-size: cover;
    background-size: cover;
}
.myWorkPicBG1{
    background: url(../img/item-2.jpg) no-repeat center;
    -moz-background-size: cover;
    background-size: cover;
}
.myWorkPicBG2{
    background: url(../img/item-3.jpg) no-repeat center;
    -moz-background-size: cover;
    background-size: cover;
}
.myWorkPicBG3{
    background: url(../img/item-4.jpg) no-repeat center;
    -moz-background-size: cover;
    background-size: cover;
}
.myWorkPicBG4{
    background: url(../img/item-5.jpg) no-repeat center;
    -moz-background-size: cover;
    background-size: cover;
}
.myWorkPicBG5{
    background: url(../img/item-6.jpg) no-repeat center;
    -moz-background-size: cover;
    background-size: cover;
}
/*
MyWorks hover animation inside blocks
 */
.myWorksForHover{
    margin-top: 2%;
    height: 90%;
    width: 90%;
    color: white;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.myWorksText{
    width: 95%;
    margin: 0 auto;
}
.myWorksForHover .myWorksText{
    opacity: 0;
    transition: opacity 1s;
}
.myWorksForHover .btn{
    opacity: 0;
    transition: opacity 1s;
}
.myWorksForHover:hover .myWorksText{
    opacity: 1;
    -webkit-transition: -webkit-transform 1s, opacity 1s;
    transition: transform 1s, opacity 1s;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}
.myWorksForHover:hover .btn{
    opacity: 1;
    -webkit-transition: -webkit-transform 1s, opacity 1s;
    transition: transform 1s, opacity 1s;
    -webkit-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
}
.MyWorksTitle{
    color: white;
    font-family:Raleway-Bold, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 20px;
    transition: all 1s ease;
}
.myWorksForHover:hover .MyWorksTitle{
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}
/*
MyWorks END
 */
/*
MySkills Start
 */
#mySkills{
    min-height: 50vh;
    background: #e2e2e2;
}
#mySkills .content-wr{
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
/*
*About Me Slider TEXT created by https://codepen.io/tari/
 */
#aboutMe{
    background: #e2e2e2;
    height: 95vh;
}
.slider {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    -webkit-box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.slider__nav:checked {
    -webkit-animation: check 0.5s linear forwards;
    animation: check 0.5s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    -webkit-transform: translateX(-75%);
    transform: translateX(-75%);
}
.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.slider__contents {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}
.slider__image {
    font-size: 2.7rem;
}
.slider__caption {
    font-family: Raleway-Light, serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    margin: 5rem 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.slider__txt {
    color: black;
    margin-bottom: 3rem;
    max-width: 100%;
    font-family: Raleway-Light, serif;
    font-size: 18px;
    line-height: 30px;
}
@media screen and (max-width: 850px) {
    #aboutMe{
        background: #e2e2e2;
        height: 130vh;
    }
    .slider__txt {
        line-height: 20px;
    }
}
@media screen and (width: 768px) {
    #aboutMe{
        background: #e2e2e2;
        height: 60vh;
    }
    .slider__txt {
        line-height: 30px;
    }
}
@media screen and (max-width: 500px) {
    #aboutMe{
        background: #e2e2e2;
        height: 95vh;
    }
    .slider__txt {
        line-height: 20px;
    }
}

@-webkit-keyframes check {
    50% {
        outline-color: #333;
        -webkit-box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        -webkit-box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

@keyframes check {
    50% {
        outline-color: #333;
        -webkit-box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        -webkit-box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}
/*
MySkills End
 */
/*-----------------------*/
/***** Quote Rotator *****/
/*-----------------------*/
#myAdvantagesProgressBar{
    display: block;
    box-sizing: border-box;
}
.cbp-qtrotator {
    position: relative;
    margin: 3em auto 0 auto;
    max-width: 90%;
    width: 90%;
}

.cbp-qtrotator .cbp-qtcontent {
    position: absolute;
    height: 200px;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    padding: 2em 0;
    top: 0;
    z-index: 0;
    opacity: 0;
    width: 100%;
}

.no-js .cbp-qtrotator .cbp-qtcontent {
    border-bottom: none;
}

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
    position: relative;
    z-index: 100;
    pointer-events: auto;
    opacity: 1;
}

.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
    content: " ";
    display: table;
}

.cbp-qtrotator .cbp-qtcontent:after {
    clear: both;
}

.cbp-qtprogress {
    position: absolute;
    background: #FF5252;
    height: 1px;
    width: 0;
    top: 0;
    z-index: 1000;
}

.cbp-qtrotator blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
}

.cbp-qtrotator blockquote p {
    font-family: Patua_One, sans-serif;
    font-size: 2em;
    color: #888;
    font-weight: 300;
    margin: 0.4em 0 1em;
}
.cbp-qtrotator .cbp-qtcontent img {
    float: right;
    margin-left: 3em;
    filter: grayscale(80%);
}

/* Example for media query */
@media screen and (max-width: 30.6em) {

    .cbp-qtrotator {
        font-size: 70%;
    }

    .cbp-qtrotator img {
        width: 80px;
    }

}
/*
Contact me
 */
#myContact{
    min-height: 60vh;
    background: #e2e2e2;
}
#myContact .content-wr{
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
#contactForm{
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    opacity: 0;
}
@media screen and (max-width: 1024px) {
    #contactForm{
        width: 75%;
    }
}
.emailAndName{
    height: 38px;
    width: 100%;
    background-color: white;
    border: 1px solid #D8E1E4;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0 15px;
    color: #3b434c;
    font-family: "Raleway-Light", serif;
    font-size: 14px;
    outline: none;
    transition: border 1s ease;
}
.messageText{
    height: 170px;
    width: 100%;
    margin: 30px 0;
    padding: 15px;
    background-color: white;
    border: 1px solid #D8E1E4;
    border-radius: 3px;
    box-sizing: border-box;
    color: #3b434c;
    font-family: "Raleway-Light", serif;
    font-size: 14px;
    outline: none;
    transition: border 1s ease;
}
.emailAndName:focus, .messageText:focus{
    border: 1px solid #898a8c;
    transition: border 1s ease;
}
.submitButton{
    height: 38px;
    width: 100%;
    border: 1px solid #D8E1E4;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #3b434c;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: "Raleway-Light", serif;
    font-size: 12px;
    outline: none;
    margin-bottom: 50px;
    transition: background-color 1s ease;
}
.submitButton:hover{
    background-color: black;
    transition: background-color 1s ease;
}
label{
    visibility: hidden;
}
.ajax-response{
    color: red;
    font-size: 18px;
    font-weight: 700;
}
/*
Footer
 */
#footer{
    height: 26vh;
    background-color: #3b434c;
}
#footer .content-wr{
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.socials{
    width: 33%;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.socials a{
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding-top: 6px;
    opacity: 0.8;
    transition: opacity 0.5s ease;
}
.socials a:hover{
    opacity: 1;
    transition: opacity 0.5s ease;
}
.author{
    color: #FFFFFF;
    font-family: Raleway-Light, sans-serif;
    font-size: 14px;
    line-height: 16px;
}
.red{
    color: red;
    font-size: 48px;
}
@media screen and (max-width: 680px) {
    .socials{
        width: 70%;
    }
    #footer{
        height: 27vh;
    }
}
/*
scrooll up
 */
.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 2em;
    right: 2em;
}

.scroll-up a {
    background-color: rgba(135, 135, 135, 0.5);
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 37px;
}

.scroll-up a:hover,
.scroll-up a:active {
    background-color: rgba(235, 235, 235, .8);
    color: #e7746f;
}
/*
modal window for sent mail **start**
 */
.flexCol{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#modalWindow{
    background: rgba(44, 62, 80, 0.3) url(../img/pattern.png) repeat;
    box-sizing: border-box;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99999;
}
.contentConfirm{
    box-sizing: border-box;
    padding: 25px;
    margin: auto;
    width: 70%;
    height: 40%;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #d7d7d7;
}
#textConfirm{
    font-family: Raleway-Light, sans-serif;
    font-size: 24px;
    color: black;
}
#closeConfirm{
    border: 2px solid #fff;
    border-radius: 10%;
    height: 35px;
    width: 50px;
    padding: 5px 5px;
    font-family: Raleway-Bold, sans-serif;
    font-size: 30px;
    color: black;
    cursor: pointer;
    transition: all 0.5s ease;
}
#closeConfirm:hover{
    border: 2px solid black;
    color: #fff;
}
/*
modal window for sent email  **end**
 */